
/**/.texpadtmp/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
code/mgba-0.6.3/.vscode/settings.json
docs/Dokumentation.toc
docs/Dokumentation.out
docs/Dokumentation.log
docs/Dokumentation.ind
docs/Dokumentation.ilg
docs/Dokumentation.idx
docs/Dokumentation.blg
docs/Dokumentation.bbl
docs/Dokumentation.aux
.DS_Store
*.synctex
